html, body {
    overflow: hidden !important;
}

body {
    width: 100vw;
    height: 100vh;
    background: center/cover url(../img/textures/space.png),radial-gradient(#374a7d , black);
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    cursor: crosshair;
}

json-editor{
    width: 600px;
    height: 400px;
    position: fixed;
    right: 0;top: 0;
}

.info{
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 25px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    opacity: .35;
    pointer-events: none;
    user-select: none;
}

.command-line{
    width: 600px;
    position: fixed;
    right: 0;bottom: 0;
    color: white;
    background:  #202020;
    border: none;
    font-size: 2em;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
}