html, body {
    overflow: hidden !important;
}

body {
    width: 100vw;
    height: 100vh;
    background: center/cover url(../img/textures/space.png),radial-gradient(#374a7d , black);
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}
