html, body {
    overflow: hidden !important;
    cursor: crosshair;
}

body {
    width: 100vw;
    height: 100vh;
    background: center/cover url(../img/textures/space.png),radial-gradient(#374a7d , black);
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.avatar {
  width: 120px;
  height: 120px;
  background: center/contain url(../img/avatars/player/standart.png) no-repeat, #2227;
  border-color: #fff7;
  border-style: solid;
  border-width: 0;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.hitbar {
  --hp: 100%;
  width: 500px;
  height: 20px;
  position: absolute;
  left: 122px;
  top: 0;
  background-color: #2227;
  border-color: #fff7;
  border-style: solid;
  border-width: 0;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

.hitbar::before{
  content: "";
  display: block;
  width: var(--hp);
  height: 20px;
  background-color: rgba(255, 0, 76, 0.5);
}

.hitbar::after{
  content: "";
  display: block;
  height: 35px;
  width: 2px;
  position: absolute;
  top: 0;
  left: var(--hp);
  background-color: #fff;
}


/*MOBILE*/

#movement_joystick {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#aiming_joystick {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
